@import "colors";
//font variables
$font-family-base: 'Kumbh Sans', sans-serif;

//auto margin
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

//container
$container-max-widths: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
);

//nav
$nav-link-color: $secondary;

//card
$card-spacer-y: 1.8rem;
$card-spacer-x: 1.5rem;
$card-border-radius: 0.6rem;
$card-title-spacer-y: 0;