<!-- start: header -->
<header id="header">
  <div
    class="header-content d-flex justify-content-between bg-white border-bottom"
  >
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center me-lg-5 me-md-2">
        <span class="icon-menu d-md-none me-3" (click)="openSidebar()"></span>
        <figure class="brand-logo">
          <span class="icon icon-logo"></span>
        </figure>
      </div>
      <nav class="nav d-md-flex d-none">
        <a class="nav-link" href="#">Collections</a>
        <a class="nav-link" href="#">Men</a>
        <a class="nav-link" href="#">Women</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
    <div class="d-flex align-items-center">
      <span
        class="icon icon-cart position-relative"
        id="cart-icon"
        (click)="openCart()"
      >
        <span
          *ngIf="cartitems > 0"
          class="bg-primary text-center text-white fw-semibold position-absolute"
          >{{ cartitems }}</span
        >
      </span>
      <div class="profile-wrapper ms-4 ms-lg-5 overflow-hidden">
        <img src="../../../../assets/images/image-avatar.png" />
      </div>
    </div>
  </div>
</header>
<!-- end: header -->
