<!-- start: header -->
<header id="header">
  <div class="d-flex justify-content-between p-4 bg-white">
    <div class="d-flex">
      <div class="d-flex align-items-center me-5">
        <span class="icon-menu"></span>
        <figure class="brand-logo ms-3">
          <span class="icon icon-logo"></span>
        </figure>
      </div>
      <nav class="nav d-md-flex d-none">
        <a class="nav-link" href="#">Collections</a>
        <a class="nav-link" href="#">Men</a>
        <a class="nav-link" href="#">Women</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
    <div class="d-flex align-items-center">
      <span class="icon icon-cart"></span>
      <div class="profile-wrapper ms-4 overflow-hidden">
        <img src="../../../../assets/images/image-avatar.png" />
      </div>
    </div>
  </div>
</header>
<!-- end: header -->
