<div class="images-wrapper d-flex flex-column">
  <figure class="hero-image">
    <img src="./../../../../assets/images/image-product-1.jpg" />
  </figure>
  <div class="row thumbnail-images d-none d-md-flex justify-content-md-between">
    <div class="col-3">
      <img src="./../../../../assets/images/image-product-1-thumbnail.jpg" />
    </div>
    <div class="col-3">
      <img src="./../../../../assets/images/image-product-2-thumbnail.jpg" />
    </div>
    <div class="col-3">
      <img src="./../../../../assets/images/image-product-3-thumbnail.jpg" />
    </div>
    <div class="col-3">
      <img src="./../../../../assets/images/image-product-4-thumbnail.jpg" />
    </div>
  </div>
</div>
