<!-- start: sidebar -->
<div
  class="sidebar bg-white p-3 h-100 flex-grow-1 position-absolute top-0 left-0"
>
  <span class="icon-close px-3"></span>
  <ul class="nav flex-column px-0 mt-4">
    <li class="nav-item">
      <a class="nav-link active text-black fw-bolder" href="#">Collections</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black fw-bolder" href="#">Men</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black fw-bolder" href="#">Women</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black fw-bolder">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black fw-bolder">Contact</a>
    </li>
  </ul>
</div>
<!-- end: sidebar -->
