<!-- start: cart -->
<div class="card shadow">
  <div class="card-title border-bottom">
    <h6 class="fw-bold">Cart</h6>
  </div>
  <div class="card-body">
    <div class="" *ngIf="empty">
      <p class="text-secondary fw-bold text-center">Your Cart is empty</p>
    </div>
    <div *ngIf="!empty">
      <div class="d-flex align-items-center">
        <img
          src="./../../../../assets/images/image-product-1-thumbnail.jpg"
          alt="cart-image"
          class="rounded-2"
        />
        <div class="d-flex flex-column mx-3">
          <p class="text-secondary">{{ productName }}</p>
          <div>
            <span class="text-secondary"
              >{{ price | currency : "CAD" : "symbol-narrow" }} X {{ quantity }}
            </span>
            <span class="fw-bold">{{
              totalPrice | currency : "CAD" : "symbol-narrow"
            }}</span>
          </div>
        </div>
        <span class="icon-delete"></span>
      </div>
      <button
        class="bg-primary text-white fw-bold w-100 border-0 p-3 mt-3 rounded-3"
      >
        Checkout
      </button>
    </div>
  </div>
</div>

<!-- end: cart -->
